<div style="background-image: url('./../../assets/background.jpg'); background-size: auto 100%;">
  <div>
    <app-header></app-header>
  </div>

  <div class="mb-3" style="height: 100vh;">
    <ng-container *ngIf="authenticator.route !== 'authenticated' else authenticatedTemplate">
      <div class="container w-50 text-center mt-3 alert alert-danger" role="alert">
        Please Sign In to run inference
      </div>
      <amplify-authenticator>
        <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
          <h1>Welcome {{ user.username }}!</h1>
          <button (click)="signOut()">Sign Out</button>
        </ng-template>
      </amplify-authenticator>
    </ng-container>

    <ng-template #authenticatedTemplate>
      <div class="row align-items-center m-auto container mt-4">
        <div class="col-md-5">
          <div class="form">
            <div class="text-center">
              <div class="text-center">
                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                <div><img [src]="url" class="img-thumbnail" *ngIf="url"></div>
                <input class="form-control w-50 mt-3 m-auto" type="file" (change)="onFileSelected($event)">
              </div>
              <button class="btn btn-success text-center m-auto mt-3 px-5" (click)="runInference()">Run inference</button>
            </div>
          </div>
        </div>
        <div *ngIf="isFinished">
          <div class="col-md-7" *ngIf="isNotPlant">
            <div class="card opacity-75">
              <div class="card-body">
                <h5> Uploaded image is not a plant. Please upload a different image.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-7" *ngIf="isNotPlant === false">
            <div class="card opacity-75">
              <div class="card-body">
                <h5>{{inferenceResponse?.name || ''}}</h5>
                <h5>{{inferenceResponse?.description || ''}}</h5>
                <h6 *ngIf="inferenceResponse?.treatments?.length !== 0">
                  Recommended Treatments:
                  <div *ngFor="let treatment of inferenceResponse?.treatments">
                    <ul>
                      <div *ngFor="let item of treatment | keyvalue">
                        <li>{{item.key}} - {{item.value}}</li>
                      </div>
                    </ul>
                  </div>
                </h6>
                <h6 *ngIf="inferenceResponse?.treatments?.length !== 0">
                  Recommended Products
                  <div *ngFor="let product of inferenceResponse?.products">
                    <ul>
                      <div *ngFor="let item of product | keyvalue">
                        <li>{{item.key}} - {{item.value}}</li>
                      </div>
                    </ul>
                  </div>
                </h6>
              </div>
            </div>
          </div>
        </div>
        </div>
    </ng-template>
  </div>

  <div>
    <app-footer></app-footer>
  </div>
</div>
