.content {
  margin-top: 82px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 148px);
}

.form {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input {
    display: flex;
    flex-direction: column;
}

.inference-button {
    margin-top: 16px;
    width: 100%;
    height: 32px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.inference-button:hover {
    background-color: #2b5f2d;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}