<!-- <footer class="footer-styling">
  <div class="card highlight-card card-small">
    <a href="https://www.termsfeed.com/live/86efc5e0-ab12-411e-9a82-83e5b20bcb53" target="_blank"> Terms Of Service</a>
    <p>Copyright &copy; 2023 AgroDetect</p>
  </div>
</footer> -->

<footer id="sticky-footer" class="flex-shrink-0 py-3 bg-dark text-white-50">
  <div class="container d-flex flex-column text-center">
    <a class="mb-1" href="https://www.termsfeed.com/live/86efc5e0-ab12-411e-9a82-83e5b20bcb53" target="_blank"> Terms Of Service</a>
    <small>Copyright &copy; 2023 AgroDetect</small>
  </div>
</footer>
