.footer-styling {
  background-color: #1E2130;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 100%;
  height: 66px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  color: white;
  display: flex;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
