/* You can add global styles to this file, and also import other style files */
@import '~@aws-amplify/ui-angular/theme.css';

body {
    min-height: fit-content;
}

* {
    margin: 0;
    padding: 0;
}